* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
}

header {
    height: 50px;
    background-color: #212121;
    
    position: sticky;
    top: 0;
}

header .nav {
    padding: 13px 70px;
}

.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
}

.menu .menu_link {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 27px;
}

.subheader {
    height: 87px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
}

.subheader .subheader_logo {
    display: block;
    min-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official{
    font-style: normal;
    font-weight: 200;
    color: #FFFFFF;
}

.subheader .subheader_callus {
    margin: 18px 8px 0 0;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}

.subheader .subheader_phone {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.subheader .subheader_btn {
    margin-top: 20px;

    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo{
    min-height: 716px;
    background: url(../img/bg/uber_bg.jpg) center center/cover no-repeat;
    padding: 68px 0 186px 0;
}

.promo .promo_header {
    margin-top: 68px;
    
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.promo .promo_subheader {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.promo .promo_descrip {
    margin-top: 16px;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}

.promo .promo_btn {
    display: block;
    margin: 116px auto 0 auto;

    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.reasons {
    min-height: 848px;
    padding: 17px 0 64px 0;
}

.label {
    width: 113px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;

    font-style: normal;
    font-weight: normal;
    font-size: 11px;

    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: #FFFFFF;
}

.header {
    margin-top: 33px;

    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;

    color: #222222;
}

.reasons .reasons_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.reasons .reasons_item .reasons_round {
    margin-right: 25px;
    width: 116px;
    height: 116px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #1EACC7;
}

.reasons .reasons_item .reasons_descrip .reasons_title{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    
    color: #1EACC7;
}

.reasons_descrip {
    width: 343px;
}

.reasons .reasons_item .reasons_descrip .reasons_text{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;

    color: #202020;
}

